
.hero-area{
    padding-top: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(287deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 100%);
    color:#ffffff;
    min-height: 250px;
}

footer{
    background-color: rgb(2,0,36);
    color: white;
}